<!-- app/views/opportunities/edit.html.erb -->
<h3>Editar Oportunidade: <%= @opportunity.name %></h3>
<%= render 'opportunities/opportunity_lightbox', opportunity: @opportunity %> <!-- partial que renderiza o lightbox -->